* .fab .fabs{
    padding: 0;
    margin: 0;
  }
  
  .fabs {
    position: fixed;
    right: 30px;
    bottom: 108px;
    z-index: 999;
  }
  
  /* .fab {
    position: fixed;
    right: 30px;
    bottom: 115px;
  } */
  
  
  .action {
    /* background-color:#ff014f !important; */
    background:linear-gradient(145deg, #e2e8ec, #ffffff);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* box-shadow: 0 5px 7px 0px gray; */
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    transition: background-color 0.4s ease-in-out;
  }
  
  .action i {
    position: absolute;
    color:#ff014f;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    cursor: pointer;
  }

  .fa-times{
    color:#fff;
  }

  .action i:hover{
    color:#fff;
  }
  
  .action:hover {
    background:linear-gradient(145deg, #ff014f, #d11414);
    color:#fff;
  }
  
  .social-btn {
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }
  
  .social-btn i {
    position: absolute;
    font-size: 18px;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .social-btns {
    position: absolute;
    bottom: 0px;
    margin-bottom: 5px;
    height: 35px;
    width: 35px;
    transition: 0.3s ease-in-out;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  .social-btns.open {
    bottom: 50px;
  }
  